* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.content , .score, button {
    font-family: 'MetalLordRegular'; 
    font-weight: normal; 
    font-style: normal;
}

body {
   background: no-repeat center 10% url(../../img/concertBackground.jpg), black;
   background-size: cover;
}