* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.content , .score1, .score2, button {
    font-family: 'MetalLordRegular'; 
    font-weight: normal; 
    font-style: normal;
}

body {
   background: no-repeat center 10% url(../../img/concertBackground.jpg), black;
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.container {
    margin: 5vh;
}

#results {
    margin: 0px auto 5vh auto;
    width: clamp(50vh, 45vw, 800px);
    background-color: rgba(175, 175, 175, 0.5);
}   

button {
    /* margin: 8vh .2vw; */
    align-items: center;
    width: clamp(var(--font-size), 30%, 23vw);
    font-size: calc(var(--width) + var(--padding) - 2rem);
    cursor: pointer;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: .25rem .75rem;
    border: currentColor 0.125rem solid;
    border-radius: .25rem;
    text-shadow: 0 0 0.15rem hsl(0 0% 100% / 0.3), 0 0 0.45rem currentColor;
    box-shadow: inset 0 0 .6rem 0 currentColor, 0 0 1rem 0 currentColor;
}

button:disabled {
    background-color: rgb(213, 210, 210);
    color: rgb(197, 197, 198);
    cursor: not-allowed;
    box-shadow: none;
}

.content {
    border: 2px solid black;
    text-align: center;
    font-size: 2vw;
    padding: 3vh;
}
  
.score1, .score2 {
    border: 2px solid black;
    padding: 2.5vh;
    text-align: center;
}