* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.content , .score1, .score2, button {
    font-family: 'MetalLordRegular'; 
    font-weight: normal; 
    font-style: normal;
}

body {
   background: no-repeat center 10% url(../../img/concertBackground.jpg), black;
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
}

button {
    width: clamp(30px, 20%, 5rem);
    font-size: calc(var(--width) - 4px);
}